# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
# jupyter notebooks checkpoints
.ipynb_checkpoints
# Local build
_site
