<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               {{ site.time | date: "%Y"  }} Vera Sativa. ♡ Copying is an act of love. Please copy and share. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
    //<![CDATA[
    var owa_baseUrl = 'https://metrics.escuelitachilota.cl/';
    var owa_cmds = owa_cmds || [];
    owa_cmds.push(['setSiteId', '08c75d039f7311c5c1117d2795abe51d']);
    owa_cmds.push(['trackPageView']);
    owa_cmds.push(['trackClicks']);
    
    (function() {
        var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
        owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
        _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
        var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
    }());
    //]]>
    </script>
    <!-- End Open Web Analytics Code -->